<md-toolbar class="" layout="row">
	<div class="md-toolbar-tools">

		<p><strong>ngClassifieds</strong></p>

		<md-button ng-click="vm.openSidebar()">
			<md-icon class="mdi mdi-plus-circle"></md-icon>
			New Classified
		</md-button>

		<md-button ng-click="showFilters = !showFilters"> <!-- toggles filter view -->
			<md-icon class="mdi mdi-magnify"></md-icon>
			Filter
		</md-button>

	</div>

</md-toolbar>

<!-- whenever showFilters = true, this element will be displayed -->
<!-- layout = "row" ensures all elements are displayed in a single row -->
<div class="filters" layout="row" layout-align="center center" ng-show="showFilters"> 

	<md-input-container>
	<label>Enter search term</label>
	<!-- binds input to classifiedsfilter property. will filter on any property within a given classified object -->
	<input type="text" ng-model="classifiedsFilter"></input>
	</md-input-container>

	<md-input-container>
	  <label>Category</label>
	  <md-select class="filterCategory" ng-model="category">
	    <md-option value="{{ category }}" ng-repeat="category in vm.categories">{{ category }}</md-option>
	  </md-select>
	</md-input-container>

	<md-input-container>
		<md-button class="md-warn filterClear" ng-click="classifiedsFilter = ''; category = ''">
		Clear
		</md-button>
	</md-input-container>

</div>

<ui-view></ui-view>

<md-content>
	<classified-card class="md-padding" layout="row" layout-wrap></classified-card>
</md-content>